body {
  margin: 0;

  * {
    box-sizing: border-box;
  }

  a:hover {
    text-decoration: none;
  }

  a,
  p,
  li,
  h1, h2, h3, h4, h5, h6,
  span,
  input,
  table,
  button {
    font-family: 'Roboto', sans-serif;
  }
}
